<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.food.dao.TblOrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.food.entity.TblOrderInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_title" property="orderTitle" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_money" property="orderMoney" jdbcType="INTEGER" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="order_end_time" property="orderEndTime" jdbcType="TIMESTAMP" />
    <result column="table_number" property="tableNumber" jdbcType="INTEGER" />
    <result column="order_date" property="orderDate" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="wait_time" property="waitTime" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, order_title, order_no, order_money, order_time, order_end_time, table_number, 
    order_date, remark, wait_time, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.food.entity.TblOrderInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_order_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_order_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_order_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.food.entity.TblOrderInfoExample" >
    delete from tbl_order_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.food.entity.TblOrderInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_order_info (order_title, order_no, order_money, 
      order_time, order_end_time, table_number, 
      order_date, remark, wait_time, 
      status)
    values (#{orderTitle,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, #{orderMoney,jdbcType=INTEGER}, 
      #{orderTime,jdbcType=TIMESTAMP}, #{orderEndTime,jdbcType=TIMESTAMP}, #{tableNumber,jdbcType=INTEGER}, 
      #{orderDate,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{waitTime,jdbcType=INTEGER}, 
      #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.food.entity.TblOrderInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_order_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderTitle != null" >
        order_title,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="orderMoney != null" >
        order_money,
      </if>
      <if test="orderTime != null" >
        order_time,
      </if>
      <if test="orderEndTime != null" >
        order_end_time,
      </if>
      <if test="tableNumber != null" >
        table_number,
      </if>
      <if test="orderDate != null" >
        order_date,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="waitTime != null" >
        wait_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderTitle != null" >
        #{orderTitle,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderMoney != null" >
        #{orderMoney,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderEndTime != null" >
        #{orderEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tableNumber != null" >
        #{tableNumber,jdbcType=INTEGER},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="waitTime != null" >
        #{waitTime,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.food.entity.TblOrderInfoExample" resultType="java.lang.Integer" >
    select count(*) from tbl_order_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_order_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderTitle != null" >
        order_title = #{record.orderTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null" >
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.orderMoney != null" >
        order_money = #{record.orderMoney,jdbcType=INTEGER},
      </if>
      <if test="record.orderTime != null" >
        order_time = #{record.orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderEndTime != null" >
        order_end_time = #{record.orderEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tableNumber != null" >
        table_number = #{record.tableNumber,jdbcType=INTEGER},
      </if>
      <if test="record.orderDate != null" >
        order_date = #{record.orderDate,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.waitTime != null" >
        wait_time = #{record.waitTime,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_order_info
    set id = #{record.id,jdbcType=INTEGER},
      order_title = #{record.orderTitle,jdbcType=VARCHAR},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      order_money = #{record.orderMoney,jdbcType=INTEGER},
      order_time = #{record.orderTime,jdbcType=TIMESTAMP},
      order_end_time = #{record.orderEndTime,jdbcType=TIMESTAMP},
      table_number = #{record.tableNumber,jdbcType=INTEGER},
      order_date = #{record.orderDate,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      wait_time = #{record.waitTime,jdbcType=INTEGER},
      status = #{record.status,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.food.entity.TblOrderInfo" >
    update tbl_order_info
    <set >
      <if test="orderTitle != null" >
        order_title = #{orderTitle,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderMoney != null" >
        order_money = #{orderMoney,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderEndTime != null" >
        order_end_time = #{orderEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tableNumber != null" >
        table_number = #{tableNumber,jdbcType=INTEGER},
      </if>
      <if test="orderDate != null" >
        order_date = #{orderDate,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="waitTime != null" >
        wait_time = #{waitTime,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.food.entity.TblOrderInfo" >
    update tbl_order_info
    set order_title = #{orderTitle,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      order_money = #{orderMoney,jdbcType=INTEGER},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      order_end_time = #{orderEndTime,jdbcType=TIMESTAMP},
      table_number = #{tableNumber,jdbcType=INTEGER},
      order_date = #{orderDate,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      wait_time = #{waitTime,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>