<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.food.dao.TblDishesInfoMapper" >
  <resultMap id="BaseResultMap" type="com.food.entity.TblDishesInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="disher_type" property="disherType" jdbcType="CHAR" />
    <result column="dishier_name" property="dishierName" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="make_time" property="makeTime" jdbcType="INTEGER" />
    <result column="disher_image" property="disherImage" jdbcType="VARCHAR" />
    <result column="disher_desc" property="disherDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, disher_type, dishier_name, price, make_time, disher_image, disher_desc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.food.entity.TblDishesInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_dishes_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_dishes_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_dishes_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.food.entity.TblDishesInfoExample" >
    delete from tbl_dishes_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.food.entity.TblDishesInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_dishes_info (disher_type, dishier_name, price, 
      make_time, disher_image, disher_desc
      )
    values (#{disherType,jdbcType=CHAR}, #{dishierName,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, 
      #{makeTime,jdbcType=INTEGER}, #{disherImage,jdbcType=VARCHAR}, #{disherDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.food.entity.TblDishesInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_dishes_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="disherType != null" >
        disher_type,
      </if>
      <if test="dishierName != null" >
        dishier_name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="makeTime != null" >
        make_time,
      </if>
      <if test="disherImage != null" >
        disher_image,
      </if>
      <if test="disherDesc != null" >
        disher_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="disherType != null" >
        #{disherType,jdbcType=CHAR},
      </if>
      <if test="dishierName != null" >
        #{dishierName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="makeTime != null" >
        #{makeTime,jdbcType=INTEGER},
      </if>
      <if test="disherImage != null" >
        #{disherImage,jdbcType=VARCHAR},
      </if>
      <if test="disherDesc != null" >
        #{disherDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.food.entity.TblDishesInfoExample" resultType="java.lang.Integer" >
    select count(*) from tbl_dishes_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_dishes_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.disherType != null" >
        disher_type = #{record.disherType,jdbcType=CHAR},
      </if>
      <if test="record.dishierName != null" >
        dishier_name = #{record.dishierName,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=INTEGER},
      </if>
      <if test="record.makeTime != null" >
        make_time = #{record.makeTime,jdbcType=INTEGER},
      </if>
      <if test="record.disherImage != null" >
        disher_image = #{record.disherImage,jdbcType=VARCHAR},
      </if>
      <if test="record.disherDesc != null" >
        disher_desc = #{record.disherDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_dishes_info
    set id = #{record.id,jdbcType=INTEGER},
      disher_type = #{record.disherType,jdbcType=CHAR},
      dishier_name = #{record.dishierName,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=INTEGER},
      make_time = #{record.makeTime,jdbcType=INTEGER},
      disher_image = #{record.disherImage,jdbcType=VARCHAR},
      disher_desc = #{record.disherDesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.food.entity.TblDishesInfo" >
    update tbl_dishes_info
    <set >
      <if test="disherType != null" >
        disher_type = #{disherType,jdbcType=CHAR},
      </if>
      <if test="dishierName != null" >
        dishier_name = #{dishierName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="makeTime != null" >
        make_time = #{makeTime,jdbcType=INTEGER},
      </if>
      <if test="disherImage != null" >
        disher_image = #{disherImage,jdbcType=VARCHAR},
      </if>
      <if test="disherDesc != null" >
        disher_desc = #{disherDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.food.entity.TblDishesInfo" >
    update tbl_dishes_info
    set disher_type = #{disherType,jdbcType=CHAR},
      dishier_name = #{dishierName,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      make_time = #{makeTime,jdbcType=INTEGER},
      disher_image = #{disherImage,jdbcType=VARCHAR},
      disher_desc = #{disherDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>